  @import url('https://fonts.googleapis.com/css2?family=Public+Sans&display=swap');
  @tailwind base;
  @tailwind components;
  @tailwind utilities;
  body{
    /* font-family: 'Public Sans', sans-serif; */
    font-family: Eudoxus Sans,sans-serif;
    padding: 0;
    margin: 0;
    color: #0d2f3f;
  }
  .logo{
    font-size: 1.5rem;
    font-weight: 500;
  }
  .header{
    background-color: #F8F7F1;
    padding: 2rem 4rem;
    position: sticky;
    top: 0px;
    transition: all .3s ease;
    z-index: 55;
    /* box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px; */
  }
  .stickyHeader{
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  }
  .headerCallIcon{
    color: #286f6c;
    background-color: #fff;
    padding: 10px;
    border-radius: 999px;
    box-shadow: 0 4px 4px #0000000d;
  }
  .openNav, .closeNav{
    display: none;
  }
  
.home{
    padding: 2rem 4rem; 
    background-color: #F8F7F1;
    position: relative;
}
.primaryText {
    font-size: 3rem;
    font-weight: 700;
}
.secondaryText {
    line-height: 50px;
    font-size: 1.3rem;
    font-weight: 500;
}

.personImg{
    position: absolute;
    bottom: 0.5rem;
    margin: auto;
    background-image: url(./assets/splash.png);
    background-repeat: no-repeat;
    /* background-size: 12rem; */
    left: 41%;
    background-size: cover;
}
.personImg img{
    /* width: 80%;
    margin-bottom: -5px; */
    height: 250px;
}
.email{
    position: absolute;
    top: 50%;
    /* left: 50; */
    color: orange;
}
.projectText{
    font-size: 1.3rem;
    font-weight: 500;   
}
.boxParaFirst{
    font-size: 1.6rem;
    font-weight: 700;
}
.iconDiv{
    padding: 10px;
    width: 3rem;
    height: 3rem;
    border-radius: 999px;
}
.iconDiv svg{
    height: 45px;
    width: 45px;
}
.about{
    padding: 2rem 4rem;
}
.boxDiv{
    align-items: center;
    border: 1px solid #E7E7E7;
    border-radius: 20px;
    padding: 1.5rem;
    transition: all .2s ease-out;
}
.flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}
.boxDiv:hover{
    cursor: pointer;
    box-shadow: 0 21px 13px #0000000a;
}
.aboutRight, .aboutLeft{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    flex: 1;
}
.wrapperDiv{
    padding: 2rem 4rem;
}
.explore{
    text-decoration: underline;
    color: orange;
    cursor: pointer;
}
.projectImg img{
    border-radius: 20px;
    max-width: 25rem;
    max-height: 18rem;
    box-shadow: 0 21px 13px #00000021;
    cursor: pointer;
    /* transition: all ease-in-out; */
    transition: all .2s ease-in-out;
}
.projectImg img:hover{
    transform: scale(1.05);
}
.skills, .experience{
    background-color: #F8F7F1;
}
.skillIconDiv{
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    cursor: pointer;
    box-shadow: 0 21px 13px #00000021;
    border-radius: 50%;
    width: 5rem;
    height: 5rem;
    position: relative;
}
.iconNumber{
    position: absolute;
    top: 0;
    height: 80%;
    width: 80%;
    border-radius: 50%;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 900;
    text-align: center;
    font-size: 1rem;
    background-color: #fff;
    opacity: .8;
    visibility: hidden;
    transition: all ease-in-out;
}
.skillIconDiv:hover  .iconNumber{
    visibility: visible;
}
h1,h2,h3{
    font-size: revert;
    font-weight: revert;
}
.experienceFlex{
    flex: 1;
}
.footerLeft{
    flex: 3;
}
.footerRight{
    flex: 1;
}
.footer ul li:hover{
    color: #286f6c;
    font-weight: 700;
}
.line{
    position: absolute;
    height: 90%;
    width: 2px;
    background-image: linear-gradient(black 33%,rgba(255,255,255,0) 0%);
    background-position: right;
    background-size: 2px 30px;
    background-repeat: repeat-y;
    left: 48%;
    z-index: 1;
    border-radius: 5px;
}
.circleLineDiv{
    flex: 1;
    padding-top: 0.5rem;
    z-index: 2;
}
.circleLineDiv .circle{
    border-radius: 50%;
    /* background: rgb(40, 111, 108); */
    width: 1.2rem;
    height: 1.2rem;
}
.progressBar{
    position: absolute;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.4rem;
    left: 45%;
}
@media only screen and (max-width: 1000px) {
    .responsivePadding{
        margin-top: 6rem;
    }
    .progressBar{
        height: 260%;
    }
    .footer{
      flex-direction: column;
    }

    .experienceFlex{
        margin-left: 0;
    }
    .wrapperDiv{
        padding: 1.5rem;
    }
    .about, .home{
        padding: 0;
    }
    .personImg{
        position: unset;
    }
    .home .lowerElement{
        margin-top: 1rem;
    }
    .home .email{
        display: none;
    }
.openNav,.closeNav{
    display: block;
}
.headerNav{
    flex-direction: column;
    background: white;
    align-items: self-start;
    padding: 2rem;
    gap: 1rem;
    position: absolute;
    top: 5rem;
    right: 0;
    z-index: 55;
   }
.headerNavDiv{
    right: 0;
    display: block;
}
.headerNavClose{
    display: none;
}
.responsiveCenter{
    justify-content: center;
    text-align: center;
}
}