  @import url('https://fonts.googleapis.com/css2?family=Public+Sans&display=swap');
  @tailwind base;
  @tailwind components;
  @tailwind utilities;
  body{
    /* font-family: 'Public Sans', sans-serif; */
    font-family: Eudoxus Sans,sans-serif;
    padding: 0;
    margin: 0;
    color: #0d2f3f;
  }
  .logo{
    font-size: 1.5rem;
    font-weight: 500;
  }
  .header{
    background-color: #F8F7F1;
    padding: 2rem 4rem;
    /* box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px; */
  }
  .headerCallIcon{
    color: #286f6c;
    background-color: #fff;
    padding: 10px;
    border-radius: 999px;
    box-shadow: 0 4px 4px #0000000d;
  }
  .openNav{
    display: none;
  }
.home{
    padding: 2rem 4rem; 
    background-color: #F8F7F1;
    position: relative;
}
.primaryText {
    font-size: 3rem;
    font-weight: 700;
}
.secondaryText {
    line-height: 50px;
    font-size: 1.3rem;
    font-weight: 500;
}

.personImg{
    position: absolute;
    bottom: 0;
    margin: auto;
    background-image: url(./assets/splash.png);
    background-repeat: no-repeat;
    background-size: 23rem;
    left: 33%;
   
}
.personImg img{
    width: 80%;
    margin-bottom: -5px;
}
.email{
    position: absolute;
    top: 50%;
    left: 0;
    color: orange;
}
.projectText{
    font-size: 1.3rem;
    font-weight: 500;   
}
.boxParaFirst{
    font-size: 1.6rem;
    font-weight: 700;
}
.iconDiv{
    padding: 10px;
    width: 3rem;
    height: 3rem;
    border-radius: 999px;
}
.iconDiv svg{
    height: 45px;
    width: 45px;
}
.about{
    padding: 2rem 4rem;
}
.boxDiv{
    align-items: center;
    border: 1px solid #E7E7E7;
    border-radius: 20px;
    padding: 1.5rem;
    transition: all .2s ease-out;
}
.flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}
.boxDiv:hover{
    cursor: pointer;
    box-shadow: 0 21px 13px #0000000a;
}
.aboutRight, .aboutLeft{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    flex: 1;
}
.wrapperDiv{
    padding: 2rem 4rem;
}
.explore{
    text-decoration: underline;
    color: orange;
    cursor: pointer;
}
.projectImg img{
    border-radius: 20px;
    max-width: 25rem;
    max-height: 18rem;
    box-shadow: 0 21px 13px #00000021;
    cursor: pointer;
    transition: all ease-in-out;
}
.skills, .experience{
    background-color: #F8F7F1;
}
.skillIconDiv{
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    cursor: pointer;
    box-shadow: 0 21px 13px #00000021;
    border-radius: 50%;
    width: 5rem;
    height: 5rem;
    position: relative;
}
.iconNumber{
    position: absolute;
    top: 0;
    height: 80%;
    width: 80%;
    border-radius: 50%;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 900;
    text-align: center;
    font-size: 1rem;
    background-color: #fff;
    opacity: .8;
    visibility: hidden;
    transition: all ease-in-out;
}
.skillIconDiv:hover  .iconNumber{
    visibility: visible;
}
h1,h2,h3{
    font-size: revert;
    font-weight: revert;
}
.experienceFlex{
    flex: 1;
}
.footerLeft{
    flex: 3;
}
.footerRight{
    flex: 1;
}
.footer ul li:hover{
    color: #286f6c;
    font-weight: 700;
}