@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
      font-family: "Proxima Nova", system-ui, sans-serif;
    }
  }
   
body{
    background-color: #000;
    color: #fff;
}
.Card h1{
    text-align: center;
}
.cardDiv{
  border: 1px solid;
  border-left-color: rgb(244 114 18);
  border-top-color:rgb(45 212 191) ;
  border-bottom-color: rgb(167 139 250);
  border-right-color: rgb(34 211 238);
  border-radius: 5px;
  padding: 1.5rem;
}
.cardButton{
  background: linear-gradient(90deg, rgba(139,92,246,1) 0%, rgba(6,182,212,1) 51%);
  border-radius: 0.25rem;
  cursor: pointer;
  padding:  0.50rem 0.30rem;
  color: inherit;
  font-family: inherit;
  font-size: 100%;
  font-weight: 700;
  line-height: inherit;
  
}
.cardButton:hover{
  background: linear-gradient(90deg, rgba(126,34,206,1) 0%, rgba(248,113,113,1) 51%);

}
.cardInfo{
  padding: 0.75rem;
}